body{
    margin: 0;
    background-color: rgb(24, 23, 23);
    color: rgb(250, 252, 253);
    height: 100vh;
}

.container{
    margin: 0 auto;
    padding: 3em ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    text-align: center;
}

